* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-image: url("../img/4845746.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex: 1;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(38, 38, 190);
  height: 90px;
}

nav img {
  width: 150px;
  cursor: pointer;
}

.logo {
  margin-left: 10px;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
}

ul li a {
  text-decoration: none;
  color: #fcfcfc;
}

.titulo-app {
  text-align: center;
  background-color: #1153f6;
  font-size: 40px;
}

form {
  color: #0f0f0f;
  text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.52);
}

input {
  width: 97%;
  border-radius: 5px;
  margin: 10px;
  border: none;
  height: 25px;
  background-color: rgba(190, 183, 183, 0.973);
  padding: 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.container-form {
  margin-top: 20px;
  padding: 10px;
  width: 70%;
  border: 1px solid #161313;
  background-color: hwb(17 7% 0% / 0.815);
  border-radius: 5px;
}

.icon {
  height: 50px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.contenedor-botones{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 450px;
}
.guardar {
  background-color: #2d2aca;
  border: none;
  display: inline-flex;
  align-items: center;
 
}

.guardar,
.eliminar,
.cancelar {
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
}
.guardar img {
  padding: 10px;
}

.boton:hover {
  opacity: 0.8;
}

.eliminar {
  background-color: #cc1d1d;
}

.cancelar {
  background-color: #11f643;
}

table {
  width: 100%;
  height: 100%vh;
  border-collapse: collapse;
  margin: 10px auto;
  padding-bottom: 50px;
}

th,
td {
  border: 1px solid black;
  padding: 5px 10px;
}

th {
  text-transform: capitalize;
}

td {
  text-align: right;
}

tr:hover {
  opacity: 0.8;
}

tr {
  cursor: pointer;
}

.rowPar {
  background-color: #161313;
  color: #fff;
}

.rowImpar {
  background-color: #fff;
  color: #161313;
}

.spinner {
  border-radius: 50%;
  width: 200px;
  height: 200px;
 
  margin: 20px auto;
}

.spinner img {
  width: 100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden,
.hidden-btn {
  display: none;
  /* clase para ocultar el spinner */
}

.headRow {
  background-color: #ff0000;
}

.titulo-superheroes {
  color: #f3f3f3;
}

@media screen and (max-width: 680px) {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
  }
}

footer {
  margin-top: auto;
  width: 100%;
  background-color: #301d75;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.txt-footer {
  color: #11f643;
}

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor {
  height: 150px;
  background-color: #c8f773;
  margin: 20px 0px;
  border-radius: 5px;
  border: 2px solid rgb(145, 145, 19);
  padding: 25px;
}

.texto {
  text-transform: capitalize;
  padding-bottom: 20px;
}

.icons {
  float: left;
  padding-right: 10px;
  height: 20px;
}